
*.xml
.gradle/loom-cache/remapped_mods/net_fabricmc_yarn_1_21_1_1_21_1_build_3_v2/net/fabricmc/fabric-api/fabric-transfer-api-v1/5.4.2+c24bd99419/fabric-transfer-api-v1-5.4.2+c24bd99419-sources.jar
*.iml
*.properties
/.gradle
